* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    background-color: #1A1A1A;
}

body::-webkit-scrollbar {
    display: none;
}

.main--container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main--container > * {
    padding-inline: 8vh;
}

/* Layout */

.layout--main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* Header */

.header--page {
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header--logo {
    width: 70px;
}

.header--page > nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5vh;
}

.header--link {
    font-size: 18px;
    font-weight: 500;
    color: #D3D3D3;
    text-decoration: none;
}

.header--link:hover {
    text-decoration: underline;
}

.selected {
    color: #2E8B57;
    font-size: 18px;
    text-decoration: underline;
}

/* Home */

.home--page {
    /* border: 1px solid #D3D3D3; */
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    gap: 5vh;
}

.home--page > h1 {
    font-size: 92px;
    font-family: studiofeixen, Arial, Helvetica, sans-serif;;
    font-weight: 600;
    color: #2E8B57;
    margin-top: 12vh;
}

.home--page > p {
    font-size: 16px;
    font-weight: 400;
    color: #D3D3D3;
    text-align: justify;
    max-width: 50%;
}

.home--links {
    display: flex;
    flex-direction: row;
    gap: 5vh;
}

.home--link {
    color: #D3D3D3;
    font-size: 18px;
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
}

.home--link:hover {
    text-decoration: underline;
    transform: scale(1.05);
}